*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit; }

html {
  font-size: 62.5%; }
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth; } }
  @media only screen and (min-width: 180em) {
    html {
      font-size: 100%; } }

body {
  height: 100vh;
  background: var(--main-gradient);
  background: -webkit-linear-gradient(to right, var(--secondary-gradient), var(--main-gradient));
  background: linear-gradient(to right, var(--secondary-gradient), var(--main-gradient));
  box-sizing: border-box;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  color: var(--text_color);
  overflow-y: hidden; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

img,
video {
  width: 100%;
  height: auto;
  object-fit: cover; }

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style: none; }

button {
  border: none;
  background: none;
  cursor: pointer; }

textarea {
  resize: none; }

.drag__container {
  display: flex;
  margin: 20px; }

.theme-light {
  --text-color: #666;
  --main-gradient: #757f9a;
  --secondary-gradient: #d7dde8; }

.theme-dark {
  --text-color: #eee;
  --main-gradient: #232526;
  --secondary-gradient: #414345; }

.heading-primary {
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px var(--text-color);
  font-size: 4rem; }

.add {
  display: flex;
  justify-content: space-between; }
  .add__btn {
    margin: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    border-radius: 5px;
    transition: all 0.3s ease-in;
    user-select: none; }
    .add__btn:hover {
      background-color: rgba(255, 255, 255, 0.9);
      color: black; }
    .add__btn:active {
      transform: scale(0.97); }
    .add__btn-save {
      display: none; }
      .add__btn-save:hover {
        transition: unset;
        filter: brightness(95%);
        color: white; }
    .add__btn-plus {
      font-size: 1.5rem;
      margin-right: 5px;
      position: relative;
      top: -3px; }

.drag__column {
  flex: 1;
  margin: 0 10px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow-x: hidden; }
