.done__title {
  position: relative;
}
.move-to-archive {
  position: absolute;
  top: 8px;
  right: 15px;
  font-size: 1.4rem;
  box-shadow: 0 0 1px #333;
  padding: 0 3px;
  transition: box-shadow 0.5s;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #999;
  }
}
.archive {
  &__container {
    position: absolute;
    left: 100px;
    z-index: 1000;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.4rem;
    text-align: center;
  }

  background-color: #eee;

  &__head > th,
  &__item > td {
    padding: 1rem;
    border-radius: 3px;
  }

  &__item > td:first-of-type {
    text-align: left;
  }

  &__hidden {
    display: none;
    opacity: 0;
  }

  &__visible {
    display: block;
    opacity: 1;
  }
}
