.done__title {
  position: relative;
}
.move-to-archive {
  position: absolute;
  top: 8px;
  right: 15px;
  font-size: 1.4rem;
  box-shadow: 0 0 1px #333;
  padding: 0 3px;
  transition: box-shadow 0.5s;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #999;
  }
  @include respond(mobile) {
    font-size: 1.2rem;
    top: 9px;
  }
}
.archive {
  width: auto;
  min-width: 320px;
  max-height: calc(100vh - 30px);
  position: absolute;
  top: -1000px;
  left: 110px;
  z-index: 1000;
  background-color: var(--background-archive, #f6f6f6);
  padding-top: $padding-md;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px var(--column-shadow, #999);
  font-size: 1.4rem;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  overflow: auto;

  @include respond(tablet) {
    width: 100%;
    left: 0;
  }
  @include respond(mobile) {
    font-size: 0.9rem;
    padding-top: $padding-md;
    padding-bottom: 1rem;
  }

  &__table {
    width: 100%;
  }

  &__body {
    background-color: #eae8ed;
    opacity: 0.95;
  }

  &__content {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
  }

  &__button {
    width: fit-content;
    position: absolute;
    top: 0;
    font-size: 1.2rem;
    color: var(--text-color, #222);
    padding: 4px 8px;
    cursor: pointer;
  }

  &__close {
    right: 0;
    border-radius: 0 5px;
    background-color: $background-close-button;
  }

  &__download {
    left: 0;
    border-radius: 5px 0;
    background-color: rgba(0, 150, 0, 0.4);
  }

  &__upload {
    left: 40px;
    border-radius: 5px 0;
    background-color: rgba(0, 0, 150, 0.4);
  }

  &__head > th,
  &__item > td {
    padding: 0.5rem 1rem;
    border-radius: 3px;
  }

  &__item > td:first-of-type {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include respond(tablet) {
      max-width: 200px;
    }
    @include respond(mobile) {
      max-width: 100px;
    }
  }

  @include respond(mobile) {
    &__head > th,
    &__item > td {
      padding: 0.2rem 0.5rem;
    }
  }

  &__item > td:first-of-type {
    text-align: left;
  }

  &__visible {
    top: 30px;
    visibility: visible;
    opacity: 1;

    @include respond(tablet) {
      top: 80px;
    }
  }
}
