.done__title {
  position: relative;
}
.move-to-archive {
  position: absolute;
  top: 8px;
  right: 15px;
  font-size: 1.4rem;
  box-shadow: 0 0 1px #333;
  padding: 0 3px;
  transition: box-shadow 0.5s;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #999;
  }
  @include respond(mobile) {
    font-size: 1rem;
    top: 10px;
  }
}
.archive {
  &__container {
    position: absolute;
    top: -200px;
    left: 110px;
    z-index: 1000;
    background-color: var(--background-archive);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px var(--shadow-column);
    font-size: 1.4rem;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.7s;

    @include respond(tablet) {
      left: 0;
      width: 100%;
    }
    @include respond(mobile) {
      font-size: 1rem;
    }
  }

  background-color: #eee;
  opacity: 0.95;

  &__head > th,
  &__item > td {
    padding: 0.5rem 1rem;
    border-radius: 3px;
  }

  &__item > td:first-of-type {
    text-align: left;
  }

  &__visible {
    top: 30px;
    visibility: visible;
    opacity: 1;

    @include respond(tablet) {
      top: 100px;
    }
  }
}
