.add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $font-size-xl;
  gap: $gap-lg;

  &__move {
    display: none;
    padding: $padding-md;
    border-radius: $border-radius-sm;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--text-color, #222);
    &-done {
      width: $width-md;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: $margin-md $margin-lg;
    padding: $padding-sm $padding-md;
    border-radius: $border-radius-sm;
    font-size: $font-size-xl;
    cursor: pointer;
    min-width: calc($width-xl - 15px);

    @include respond(mobile) {
      margin: $margin-md;
    }

    &-add {
      color: var(--text-color, #222);

      &:hover {
        transition: background-color 0.3s ease-in;
        background-color: rgba(255, 255, 255, 0.9);
        color: black;
      }
    }

    &:active {
      transform: scale(0.97);
    }

    &-open {
      color: var(--text-color);
    }

    &-save {
      color: black;
      visibility: hidden;
      background-color: #50c878;

      &:hover {
        transition: background-color 0.3s ease-in;
        background-color: rgba(119, 221, 119, 0.9);
      }
    }

    &-close {
      display: none;
      justify-content: right;
      padding: 0;

      &-inner {
        background-color: $bg-color-close-button;
        padding: $padding-sm $padding-md;
        border-radius: $border-radius-sm;
      }
    }

    &-text {
      padding: 0 $padding-sm;
    }
  }
}
