.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $font-size-xl;
  gap: $gap-lg;
}

.btn {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: $margin-md $margin-lg;
  padding: $padding-sm $padding-md;
  border-radius: $border-radius-sm;
  font-size: $font-size-xl;
  outline-offset: $outline-offset;
  cursor: pointer;

  &:active {
    transform: scale(0.97);
  }

  @include respond(mobile) {
    margin: $margin-md;
  }

  &-move {
    display: none;
    padding: $padding-sm calc($padding-md + 5px);
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--text-color, #222);

    &-done {
      width: $width-md;
    }
  }

  &-add {
    color: var(--text-color, #222);

    &:hover {
      transition: background-color 0.3s ease-in;
      background-color: rgba(255, 255, 255, 0.9);
      color: black;
    }
  }

  &-save {
    display: none;
    color: black;
    background-color: #50c878;

    &:hover {
      transition: background-color 0.3s ease-in;
      background-color: rgba(119, 221, 119, 0.9);
    }
  }

  &-open {
    color: var(--text-color);
  }

  &-close {
    visibility: hidden;
    background-color: $bg-color-close-button;
    padding: calc($padding-sm + 2px) $padding-md;
  }

  &-text {
    padding: 0 $padding-sm;
  }
}
