.btn {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: $padding-sm $padding-md;
  border-radius: $border-radius-sm;
  font-size: $font-size-xl;
  outline-offset: $outline-offset;
  transition: background-color 0.3s ease-in;
  @include pointer-device {
    cursor: pointer;
    &:active {
      transform: scale(0.97);
    }
  }

  &-move {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    padding: $padding-sm calc($padding-md + 5px);
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--text-color, #222);
    &-done {
      display: none;
    }
  }

  &-add {
    color: black;
    background-color: #50c878;
    @include pointer-device {
      &:hover {
        background-color: rgba(119, 221, 119, 0.9);
      }
    }
    &-task {
      display: none;
    }
    &-category {
      @include margin_auto;
      margin-top: $margin-lg;
    }
    &-archive {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 0 0 $border-radius-sm 0;
    }
  }

  &-open {
    color: var(--text-color);

    @include pointer-device {
      &:hover {
        background-color: rgba(100, 100, 100, 0.1);
      }
    }
  }

  &-close {
    background-color: rgba(255, 0, 0, 0.5);
    @include pointer-device {
      &:hover {
        background-color: rgba(255, 100, 100, 0.6);
      }
    }
    &-task {
      visibility: hidden;
      padding: calc($padding-sm + 2px) $padding-md;
    }
    &-category,
    &-archive,
    &-info {
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 0 $border-radius-sm 0 $border-radius-sm;
    }
  }

  &-info {
    background-color: rgba(77, 77, 255, 0.6);
    @include pointer-device {
      &:hover {
        background-color: rgba(77, 77, 255, 0.5);
      }
    }
    &-archive {
      position: absolute;
      top: 0;
      left: 50px;
      border-radius: 0 0 $border-radius-sm $border-radius-sm;
    }
  }

  &-edit {
    margin-left: $padding-md;
    &-category {
      margin-top: $margin-sm;
      padding: 0 $padding-md;
      align-self: stretch;
      border-radius: 0;
    }
  }

  &-text {
    padding: 0 $padding-sm;
  }
}
