.categories {
  $tap-increment: 4px;
  &__icons {
    display: flex;
    gap: $gap-md;
  }

  &__select {
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text-color, #222);
    font-size: $font-size-sm;
    border: transparent;
    border-radius: 5px;
    background-color: transparent;
    padding-top: $tap-increment;
    padding-bottom: $tap-increment;
    margin-top: -$tap-increment;
    margin-bottom: -$tap-increment;

    &-option {
      color: #222;
    }
  }

  &__form {
    margin-bottom: $margin-lg;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: $margin-sm;
    line-height: 1.8;
    background-color: var(--background-color);
    color: var(--text-color);
    opacity: 0.95;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: $padding-md;
    border-radius: 5px;

    &:focus {
      background-color: white;
      color: black;
    }
  }

  &__input {
    width: 100%;
    padding: $padding-md;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: $font-size-xlg;
    outline-offset: $outline-offset;
    transition:
      border-color 0.3s,
      box-shadow 0.3s;
    @mixin pointer-device {
      &:hover {
        border-color: #999;
      }
    }
  }
}
