.drag__column {
  flex: 1 40rem;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow-x: hidden;
  box-shadow: 1px 1px 2px var(--column-shadow, #999);
  min-height: 13rem;
}

.todo {
  &__title,
  & .over {
    background-color: $column-1;
    background-image: $background-column-header;
  }
}

.inprogress {
  &__title,
  & .over {
    background-color: $column-2;
    background-image: $background-column-header;
  }
}

.done {
  &__title,
  & .over {
    background-color: $column-3;
    background-image: $background-column-header;
  }
}

.add {
  &__container {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    min-height: 10rem;
    display: none;
  }

  &__item {
    background-color: initial;
    border: none;
    width: 100%;
    min-height: 10rem;
    height: auto;
    border-radius: 1rem;
    margin: 0.5rem auto;
    resize: none;
    color: var(--text-color, #222);
    font-size: 1.6rem;
    text-align: left;
    &:focus {
      outline: none;
    }
    &::placeholder {
      opacity: 0.3;
    }
  }
}

.custom-scroll {
  overflow-y: auto;
  max-height: 75vh;
}

.custom-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 0.5rem;
}

.custom-scroll::-webkit-scrollbar {
  width: 1rem;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.8);
}
