.column {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: $border-radius-md;
  overflow-x: hidden;
  box-shadow: 1px 1px 2px var(--column-shadow, #999);
  min-height: $height-xxl;
}

.todo__title {
  background-color: $bg-color-column-todo;
}

.inprogress__title {
  background-color: $bg-color-column-inprogress;
}

.done__title {
  background-color: $bg-color-column-done;
  position: relative;
}

.custom-scroll {
  overflow-y: auto;
  max-height: 75vh;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.8) rgba(255, 255, 255, 0.3);
}

.drag-over {
  background-color: $bg-color-drag-over;
}
