.deadline {
  flex-shrink: 0;
  background: none;
  border: none;
  color: #777;
  outline: none;
  white-space: initial;

  @include respond(mobile) {
    font-size: 1rem;
  }
}

.theme-dark .deadline {
  &::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}
