.deadline {
  flex-shrink: 0;
  background: none;
  border: none;
  color: #777;
  outline: none;
  white-space: initial;
  font-size: $font-size-md;

  @include respond(laptop) {
    font-size: $font-size-sm;
  }
}

.theme-dark .deadline {
  &::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}
