.deadline {
  flex-shrink: 0;
  background: none;
  border: none;
  color: #777;
  white-space: initial;
  font-size: $font-size-md;
  letter-spacing: -1px;
  outline-offset: $outline-offset;

  @include respond(laptop) {
    font-size: $font-size-sm;
    max-width: 85px;
  }
  &-failed {
    color: var(--deadline-failed-color);
  }
}

.theme-dark .deadline {
  &::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}
