.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $gap-md;
  padding-top: $padding-lg;
  padding-bottom: $padding-lg;

  @include respond(mobile) {
    padding-top: $padding-md;
    padding-bottom: $padding-md;
  }

  &__tools {
    @include header_sides;
    gap: $gap-md;

    @include respond(mobile) {
      min-width: auto;
    }
  }

  @include respond(tablet) {
    flex-direction: column;
    justify-content: center;
  }
}
