.heading-primary {
  letter-spacing: 2px;
  font-size: 4rem;
  min-height: $header-min-height;
  line-height: $header-min-height;
  color: var(--text-color, #222);
}

.heading-secondary {
  letter-spacing: 1px;
  font-size: 2.4rem;
}
