.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-top: $padding-lg;
  padding-bottom: $padding-lg;

  &__tools {
    @include header_sides;
    gap: 1.5rem;

    @include respond(mobile) {
      min-width: auto;
    }
  }

  @include respond(mobile) {
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.tools {
  gap: 1.5rem;
  font-size: 2.4rem;
  padding: $padding-md;
  color: var(--text-color, #222);
  border-radius: 10px;
  background: rgba(111, 111, 111, 0.2);
  transition: background 0.5s;
  &:hover {
    background: rgba(111, 111, 111, 0.3);
    cursor: pointer;
  }

  @include respond(mobile) {
    font-size: 2rem;
  }
}
