.inputs {
  display: none;
  margin: $margin-md;
  padding: $padding-sm $padding-md;

  &-new-task {
    min-height: $height-xl;
    border-radius: $border-radius-md;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &-categories {
    @include flex_column;
  }
}

.input,
.select {
  outline-offset: $outline-offset;
}

.textarea {
  width: 100%;
  min-height: $height-xl;
  height: auto;
  margin: $margin-sm auto;

  &-add {
    background-color: initial;
    border: none;
    border-radius: $border-radius-md;
    resize: none;
    color: var(--text-color, #222);
    font-size: $font-size-xl;
    text-align: left;
    outline-offset: calc($outline-offset * 2);

    &::placeholder {
      opacity: 0.3;
    }

    @include respond(mobile) {
      font-size: $font-size-lg;
    }
  }
}

.label {
  margin-bottom: $margin-sm;
}

.input {
  &-category {
    margin-bottom: $margin-md;
  }
}
