.pomodoro {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  box-sizing: border-box;
  color: var(--text-color, #222);
  min-height: $header-min-height;
  line-height: $header-min-height;
  padding: $padding-pomodoro-heading;
  &__inner {
    display: flex;
    gap: 2rem;
  }
  &__icon {
    padding: 0 5px;
    transition: color 0.5s;
    visibility: var(--visibility, visible);
    &:hover {
      color: #ebcc34;
    }
  }
  &__text {
    font-size: 1.8rem;
    line-height: 2rem;

    @include respond(mobile) {
      display: none;
    }
  }
  &__timer {
    text-align: left;
    min-width: 10rem;
    font-size: 2.4rem;
    padding: 0 1rem;
    background: var(--background-timer, #f0f8ff);
    border-radius: 5px;
  }
  &__controls {
    display: none;
    align-items: center;
    width: 13rem;
  }
  &__control {
    display: inline-block;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    transition: color 0.5s;
    width: 4rem;
    &:hover {
      color: #999;
      cursor: pointer;
    }
  }
  &__sessions {
    position: absolute;
    bottom: 0;
    left: 15px;
  }
  &__session {
    position: absolute;
    bottom: 1px;
    padding: 1px 4px;
    background-color: green;
  }
  &__break {
    display: none;
    font-size: 1.6rem;
    color: #32a1d9;
  }
}
.fa-pause,
.fa-stop {
  display: inline-block;
}
.fa-play {
  display: none;
}
