.absolute-top-center {
  position: absolute;
  right: 180px;
  top: 50%;
  transform: translateY(-50%);
}
.pomodoro {
  @extend .absolute-top-center;
  &__icon {
    @extend .absolute-top-center;
    padding: 5px;
    transition: color 0.5s;
    display: var(--display);
    &:hover {
      color: #ebcc34;
    }
  }
  &__text {
    font-size: 1.8rem;
    margin-right: 2rem;
  }
  &__timer {
    font-size: 2.4rem;
    color: var(--text-color);
  }
}
