.icon {
  opacity: var(--opacity, 1);
  pointer-events: var(--pointer-events, auto);
  outline-offset: -1px;

  &-edit,
  &-pomodoro {
    padding: 0 $padding-md;
    line-height: 1;
    transition: color 0.5s;
    color: var(--text-color);
    @include pointer-device {
      &:hover {
        color: #ebcc34;
        transition: color 0.3s ease-in-out;
      }
    }
  }
  &-edit {
    font-size: $font-size-xlg;
  }
  &-pomodoro {
    font-size: $font-size-xl;
  }
  &-delete {
    display: flex;
    align-items: center;
    font-size: $font-size-sm;
    padding-left: $padding-sm;
    padding-right: $padding-sm;
    background-color: #ce6c70;
  }
}
.edit-icons-container {
  display: flex;
  align-items: center;
  gap: $gap-sm;
  margin-top: -$margin-sm;
  margin-right: $margin-md;
}
