.task {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax($min-width, 1fr));
  gap: $gap-md;
  font-weight: 400;
  &__set {
    display: flex;
    align-items: center;
    gap: $gap-sm;
  }
  &__icons {
    display: flex;
    gap: $gap-sm;
  }
  &__text {
    line-height: 1.1;
  }
  &__data {
    display: flex;
    flex-direction: column;
    padding: $padding-sm 0;
  }
  &__new {
    &-btns {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: $font-size-xl;
      gap: $gap-lg;
      margin: $margin-lg;

      @include respond(mobile) {
        margin: $margin-lg $margin-md;
      }
    }
  }
  &__progressbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: rgba(0, 255, 0, 0.15);
    pointer-events: none;
  }
  &__list {
    min-height: $height-lg;
    padding: 0 $padding-md;
    margin-top: $margin-lg;
    --pointer-events: none;
    --opacity: 0;

    @include respond(mobile) {
      padding: 0;
    }

    &-item {
      position: relative;
      display: flex;
      justify-content: space-between;
      font-size: $font-size-xl;
      line-height: 1.6;
      text-align: left;
      word-break: break-word;
      white-space: pre-line;
      color: var(--text-color, #222);
      margin: $margin-md;
      padding-left: calc($padding-md + $padding-sm);
      height: fit-content;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: $border-radius-md;
      overflow: hidden;
      cursor: pointer;

      @include respond(mobile) {
        font-size: $font-size-lg;
        line-height: 1.8;
      }

      &:focus {
        background-color: white;
        color: black;
      }
    }
  }
}

.touch {
  &__selected {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: $width-sm;
      height: 100%;
      background-color: rgba(0, 255, 0, 0.4);
      border-radius: $border-radius-md 0 0 $border-radius-md;
    }
  }
}
