.tasks {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(calc($min-width - $padding-lg/2), 1fr));
  gap: $gap-md;

  &__set-container {
    display: flex;
    align-items: center;
    gap: $gap-sm;
  }
  &__list {
    min-height: $height-lg;
    padding: $padding-md;
    --opacity: 0;

    @include respond(mobile) {
      padding: 0;
    }

    &-item {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.8rem;
      line-height: 1;
      letter-spacing: 1px;
      text-align: left;
      word-break: break-word;
      white-space: pre-line;
      color: var(--text-color, #222);
      margin: $margin-md;
      padding: calc($padding-md - $task-padding-shift) calc($padding-md * 3)
        calc($padding-md - $task-padding-shift) calc($padding-md + $task-padding-shift);
      height: fit-content;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: $border-radius-md;
      cursor: pointer;

      @include respond(mobile) {
        font-size: 1.4rem;
        line-height: 1;
      }

      &:focus {
        outline: none;
        background-color: white;
        color: black;
      }

      &-remove {
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        height: 100%;
        opacity: var(--opacity, visible);
        background-color: rgba(255, 0, 0, 0.4);
        border-radius: 0 $border-radius-md $border-radius-md 0;

        &-img {
          font-size: 1rem;
          text-align: center;
          line-height: 3;
          width: 18px;
        }
      }
    }
  }
}

.touch {
  &__selected {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: $width-sm;
      height: 100%;
      background-color: rgba(0, 255, 0, 0.4);
      border-radius: $border-radius-md 0 0 $border-radius-md;
    }
  }
}
