$sizeMinusShift: $theme-slider-size - $theme-slider-shift;
$sizePlusShift: $theme-slider-size + $theme-slider-shift;
$shiftMinusSize: $theme-slider-shift - $theme-slider-size;

.theme-switch-wrapper {
  @include header_sides;
  justify-content: flex-end;
  gap: $gap-sm;
  font-size: $font-size-xxl;
  color: var(--text-color, #222);
  line-height: calc($theme-slider-size + $theme-slider-shift);

  @include respond(mobile) {
    font-size: $font-size-md;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column-reverse;
    gap: calc($gap-sm / 2);
  }
}

.theme-checkbox {
  width: inherit;
  height: inherit;
  outline-offset: $outline-offset;

  &:focus {
    appearance: normal;
    -moz-appearance: none;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: calc($theme-slider-size * 2);
  height: calc($sizePlusShift);

  @include respond(mobile) {
    height: calc($theme-slider-size * 1.6);
    width: calc($theme-slider-size / 1.4);
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
}

.slider:before {
  position: absolute;
  content: '';
  height: calc($sizeMinusShift);
  width: calc($sizeMinusShift);
  left: $theme-slider-shift;
  bottom: $theme-slider-shift;
  background-color: white;
  transition: transform 0.4s;

  @include respond(mobile) {
    height: calc(($sizeMinusShift) / 2);
    width: calc(($sizeMinusShift) / 2);
  }
}

input:checked + .slider {
  background-color: var(--background-slider, #2196f3);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--background-slider, #2196f3);
}

input:checked + .slider:before {
  -webkit-transform: translateX(calc($sizeMinusShift));
  -ms-transform: translateX(calc($sizeMinusShift));
  transform: translateX(calc($sizeMinusShift));

  @include respond(mobile) {
    -webkit-transform: translate(0, calc($shiftMinusSize));
    -ms-transform: translate(0, calc($shiftMinusSize));
    transform: translate(0, calc($shiftMinusSize));
  }

  @include respond(mobile) {
    border-radius: calc($theme-slider-size / 1.5);
  }
}

.slider.round {
  border-radius: calc($sizePlusShift);
  box-shadow: 1px 1px 2px var(--column-shadow, #999);
}

.slider.round:before {
  border-radius: 50%;
}
