.tool {
  font-size: $font-size-xxl;
  padding: $padding-md;
  line-height: 1;
  color: var(--text-color, #222);
  border-radius: $border-radius-md;
  background: rgba(111, 111, 111, 0.2);
  transition: background 0.5s;
  box-shadow: 1px 1px 2px var(--column-shadow, #999);
  outline-offset: $outline-offset;
  @mixin pointer-device {
    &:hover {
      background: rgba(111, 111, 111, 0.3);
      cursor: pointer;
    }
  }

  @include respond(mobile) {
    font-size: $font-size-xl;
  }
}
