@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tablet {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == laptop {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  //1200-2880 overall styles
  @if $breakpoint == 4K {
    @media only screen and (min-width: 180em) {
      @content;
    } //2880
  }
}

@mixin header_sides {
  display: flex;
  align-items: center;
  flex: 1;
}

@mixin flex_column {
  display: flex;
  flex-direction: column;
}

@mixin margin_auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin no_reduced_motion {
  @media (prefers-reduced-motion: no-preference) {
    @content;
  }
}

@mixin pointer-device {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}
