$opacity: 0.35;
$bg-color-column-todo: rgba(255, 0, 0, $opacity);
$bg-color-column-inprogress: rgba(0, 132, 255, $opacity);
$bg-color-column-done: rgba(0, 225, 0, $opacity);

$bg-color-drag-over: rgba(50, 50, 50, 0.1);

$font-size-sm: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.4rem;
$font-size-xl: 1.8rem;
$font-size-xxl: 2.4rem;

$min-width: 320px;
$max-width: 1800px;

$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 20px;
$padding-xl: 30px;

$margin-sm: 5px;
$margin-md: 10px;
$margin-lg: 20px;
$margin-xl: 30px;

$border-radius-sm: 5px;
$border-radius-md: 10px;
$border-radius-lg: 20px;

$gap-xsm: 4px;
$gap-sm: 10px;
$gap-md: 20px;
$gap-lg: 30px;

$width-sm: 10px;
$width-md: 30px;
$width-lg: 40px;
$width-xl: 100px;
$width-xxl: 130px;

$height-sm: 10px;
$height-md: 30px;
$height-lg: 40px;
$height-xl: 100px;
$height-xxl: 130px;

$outline-offset: 4px;

$theme-slider-size: 28px;
$theme-slider-shift: 3px;
