.theme-dark {
  --text-color: #eee;
  --background-color: #464651;
  --background-slider: #3b3b3b;
  --column-shadow: #333;
  --background-archive: #5f5e66;
  --background-timer: #545f6d;
  --deadline-failed-color: #e44457;
}
