.theme-light {
  --text-color: #222;
  --background-color: #d7dde8;
  --background-slider: #2196f3;
  --background-archive: #f6f6f6;
  --background-timer: #f0f8ff;
  --column-shadow: #999;
  --deadline-failed-color: #bb0101;
}
